# Logs
logs
*.log

# Production
build

# Dependency directories
node_modules
/node_modules

/public/locales

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# Misc
.idea/
.DS_store

# Generated
src/index.css
env
