/*CSS for filters*/

#Filter{
    margin-bottom: 3rem;
}

@media(min-width: 992px){
    #ResponsiveFilter{
        display: none;
    }
}

@media(max-width: 992px) {
    #Filter{
        display: none;
    }
}

#ResponsiveButton{
    text-underline: #BF522A;
    background-color: transparent;
    border-width: 0;
    color: var(--orange);
    text-decoration: underline;
    font-family: "Montserrat";
    font-weight: 500;
    padding: 0;
}

.filters-content{
    display: flex;
    align-items: center;
}

.filters-content p{
    margin-bottom: 0;
}

.filters-content select{
    border: 0;
    background-color: transparent;
    font-family: "Montserrat";
    border-bottom: 1px solid var(--black) !important;
    border-radius: 0;
    width: 12vw;
    margin-right: 3vw;
}

.filters-tit{
    font-family: "Montserrat";
    color: var(--orange);
    font-weight: 500;
    margin-top: 3vh;
    margin-bottom: 1vh;

}

#Filter a{
    font-family: "Montserrat";
    color: var(--orange);
}
#Filter a:hover{
    text-decoration: none;
    color: var(--black);
}

#Filter button{
    font-family: "Montserrat";
    color: var(--black);
}
#Filter button:hover{
    color: var(--orange);
}