
  .aws-btn {

    --slider-height-percentage: 20%;
    --slider-transition-duration: 770ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #6a6a6a;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #6a6a6a;
    --control-bullet-active-color: #6a6a6a;
    --loader-bar-color: transparent;
    --loader-bar-height: 6px;
    }

    * .image-zoom {
        width: 100%;
        float: left;
        position: relative;
        background: #000000;
        overflow: hidden;
        height: 500px
      }
      .image-zoom:before {
        background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(https://iili.io/H933luj.png) no-repeat center;
        content: "";
        display: inline-block;
        height: 100%;
        opacity: 1;
        position: absolute;
        top: 0;
        width: 100%;
        /*z-index: -1;*/
        animation: 30s ease 0s normal none infinite running zoomin;
        -webkit-animation: 30s ease 0s normal none infinite running zoomin;
        -o-animation: 30s ease 0s normal none infinite running zoomin;
        -moz--o-animation: 30s ease 0s normal none infinite running zoomin;
      }
      
      @keyframes zoomin {
          0% { transform: scale(1.5, 1.5) }
          50% { transform: scale(1, 1) }
          100% { transform: scale(1.5, 1.5) }
      }
      