* .image-small {
    width: 100%;
    position: relative;
    background: white;
    height: 255px
  }
  .image-small:before {
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(https://www.teahub.io/photos/full/18-183444_marvel-characters.jpg) no-repeat center;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    caret-color: transparent;
    width: 100%;
  }
  
  @keyframes zoomin {
      0% { transform: scale(1.5, 1.5) }
      50% { transform: scale(1, 1) }
      100% { transform: scale(1.5, 1.5) }
  }
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: --orange;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }