#NavbarBootstrap{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    caret-color: transparent;
}

.navbarBootstrap-collapse{
    justify-content: center;
}

.navbarBootstrap-items-list{
    align-items: center;
}

#NavbarBootstrap .container{
    align-items: center;
    font-family: "comic";
    font-size: 16px;
}

.row1{
    text-align:center;
    margin:0 auto;
    caret-color: transparent;
}

.row1 .col-md-3{
   display:inline-block;
   vertical-align: middle;
   float: none;
}


#NavbarBootstrap .navbar-brand{
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

#NavbarBootstrap .navbarBootstrap-item{
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    caret-color: transparent;
    color: var(--black);
}

#NavbarBootstrap .navbarBootstrap-item:hover {
    text-decoration: none;
    color: var(--orange);
}

.navbarBootstrap-cart-count-label {
    position:absolute;
    top:0px;
    left:0px;
    padding:5px 7px;
    caret-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.navbarBootstrap-logo-img{
    margin-left: 2rem;
    margin-right: 2rem;
}

.navbarBootstrap-logo-img2{
    margin-left: 0;
    margin-right: 0;
}

.navbarBootstrap-active{
    font-weight: 500;
}

.navbarBootstrap-cart{
    position: absolute;
    right: 0;
}

@media (max-width: 350px) {
    .navbarBootstrap-logo-img{
        width: 5rem;
        margin-top: 1em;
    }
}

@media (min-width: 350px) {
    .navbarBootstrap-logo-img{
        width: 15rem;
    }
}

@media (min-width: 350px) {
    .navbarBootstrap-logo-img2{
        padding-left: 1rem;
        padding-top: 1rem;
        width: 10rem;
    }
}


@media(max-width: 992px){
    #navbarBootstrap-home-link{
        margin-top: 2em;
    }
    .navbarBootstrap-logo-xd{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: .05em;
    }
    .navbarBootstrap-cart{
        top: 2.2em
    }
    #navbarBootstrap-toggle{
        margin-top: 1em;
        margin-left: 2rem;
    }
}

@media(max-width: 576px){
    .navbarBootstrap-logo-sm{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: .05em
    }
}


.navbarBootstrap-user-cart{
    background-color: white;
    border: 0;
    height: 1.8rem;
    width: 1.4rem;
    margin-right: 4rem;
    cursor: pointer;
}

.navbarBootstrap-user-cart:focus{
    border: 0 !important;
}

.input {
    color: transparent;
  }
