.Topbar{
    background-color: var(--gray);
    height: 30px;
    width: 100%;
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
    caret-color: transparent;
}

.Topbar-text{
    align-items: center;
    font-family: "Montserrat";
    color: var(--black);
    margin-right: 3rem;
}

.Topbar-text p{
    margin: 0;
}

.Topbar-text-high{
    color: var(--orange);
    font-weight: 500;
}

.Topbar-text-profile{
    padding-left: 2.5rem;
    padding-right: 0.5rem;
}

.Topbar-text-center{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.topbar-text-hide-are-you{
    margin-left: 2.5rem;
}

.Topbar-button{
    background-color: transparent;
    font-family: "Montserrat";
    font-size: 1rem;
    color: var(--black);
    border: none;
    position: relative;
    padding: 0.4rem !important;
}
.Topbar-button:hover{
    text-decoration: underline !important;
}

@media(min-width: 992px){
    .Topbar-hide-lg{
        display: none;
    }
}

.Topbar-button-active{
    background-color: transparent;
    font-family: "Montserrat";
    font-size: 1rem;
    color: var(--black);
    border: none;
    padding: 0.4rem !important;
    text-decoration: underline;
}

.Topbar a{
    color: var(--black);
    text-decoration: none;
}
.Topbar a:hover{
    color: inherit;
    text-decoration: underline;
}
#Topbar-text-artisan:hover{
    color: var(--orange);

}