.footer-row{
    margin-top: 2rem;
    background-color: var(--black);
    align-items: center;
    font-family: "Montserrat";
    color: white;
}



.footer-icon-col{
    font-size: 0.7rem;
}

#footer-copyright-region{
    display: flex;
    align-items: center;
}

@media(max-width: 992px){
    .footer-col{
        margin-top: 3em;
    }
    .footer-row{
        padding: 3rem 5rem;
    }
}

@media (min-width: 992px){
    .footer-row{
        padding: 3rem 15rem;
    }
}

@media(max-width: 992px) and (min-width: 540px){
    .footer-row{
        padding: 3rem 10rem;
    }
}

@media(max-width: 540px){
    .footer-row{
        padding: 3rem 5rem;
    }
}

#footer-copyright-region span{
    margin-left: 1em;
}


.footer-col a{
    text-decoration-line: none;
    color: white;
}

.footer-col a:hover{
    text-decoration: underline;
}

.footer-section-title{
    font-size: 0.9rem;
    margin-bottom: .1em;
    text-transform: uppercase;
}

.footer-section-content{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}



