.signup-image-section{
    margin: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
    background-color: white;
}

.signup-content {
    background-color: #F5F4F2;
}

.thanks-message{
    text-align: center;
}

.signup-form{
    align-items: stretch;
}

#Signup .orange{
    color: var(--orange);
}

#Signup .black{
    color: var(--black)
}

#SignUp h1 {
    text-align:center;
}

.signup-normal-text{
    font-family: "Montserrat";
}

.signup-special-text{
    font-family: "Playfair Display";
    font-weight: bold;
}

.signup-form{
    padding-top: 1.8em;
}


.signup-input {
    width: 100%;
    border-radius: 0 !important;
    background-color: transparent;
    resize: none;
    outline: none;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 1px solid var(--black) !important;
    -webkit-appearance: none;
}

.wrong-signup-input {
    width: 100%;
    border-radius: 0 !important;
    background-color: transparent;
    resize: none;
    outline: none;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
    border-bottom: 1px solid red !important;
}

.signup-alert-text {
    font-family: "Montserrat";
    color: red;
}

.signup-form-alert-text {
    font-family: "Montserrat";
    background: rgba(255, 0, 0, 0.2);
    text-align: center;
    color:red;
}

.signup-form > form{
    padding: 1em 6em;
}

.signup-form-section{
    margin-top: .5em;
}

#signup-button{
    margin-top: 2em ;
    margin-bottom: 1em;
    text-align:center;
    width: 100%;
    background-color: var(--orange);
    border-color: var(--orange);
}

#authenticationCode-button{
    margin-top: 2em ;
    margin-bottom: 1em;
    text-align:center;
    width: 100%;
    background-color: var(--orange);
    border-color: var(--orange);
}

.signup-noAccount{
    margin-top: 1em;
}



.signup-noAccount a{
    text-decoration: None;
}

@media (max-width: 992px){
    .signup-hide-sm{
        display: none;
    }
}

@media (min-width: 1320px){
    #SignUp h1 {
        padding-right: 3em;
        padding-left: 3em;
    }

    .signup-special-text{
        font-size: 1.5rem;
    }

    .signup-normal-text{
        font-size: 1rem;
    }

    .signup-form > form{
        padding: 1em 6em;
    }

    .signup-content {
        margin: 2em 6em !important;
    }
}

@media (min-width: 1095px) and (max-width: 1320px){
    #SignUp h1 {
        padding-right: 1.5em;
        padding-left: 1.5em;
    }

    .signup-special-text{
        font-size: 1.2rem;
    }

    .signup-normal-text{
        font-size: .8rem;
    }

    .signup-form > form{
        padding: 1em 4em;
    }

    .signup-content {
        margin: 2em 3em !important;
    }

}


@media (min-width: 992px) and (max-width: 1095px){
    #SignUp h1 {
        padding-right: 1.5em;
        padding-left: 1.5em;
    }

    .signup-special-text{
        font-size: 1.1rem;
    }

    .signup-normal-text{
        font-size: .8rem;
    }

    .signup-form > form{
        padding: 0em 3em;
    }

    .signup-content {
        margin: 2em 3em !important;
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    #SignUp h1 {
        padding-right: 3em;
        padding-left: 3em;
    }

    .signup-special-text{
        font-size: 1.5rem;
    }

    .signup-normal-text{
        font-size: 1rem;
    }

    .signup-form > form{
        padding: 1em 6em;
    }

    .signup-content {
        margin: 2em 4em 2em 4em !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #SignUp h1 {
        padding-right: 3em;
        padding-left: 3em;
    }

    .signup-special-text{
        font-size: 1.3rem;
    }

    .signup-normal-text{
        font-size: .9rem;
    }

    .signup-form > form{
        padding: 1em 6em;
    }

    .signup-content {
        margin: 2em 4em 2em 4em !important;
    }
}

@media (max-width: 576px){
    #SignUp h1 {
        padding-right: 1em;
        padding-left: 1em;
    }

    .signup-special-text{
        font-size: 1.1rem;
    }

    .signup-normal-text{
        font-size: 0.85rem;
    }

    .signup-form > form{
        padding: 1em 1em;
    }

    .signup-content {
        margin: 2em 2em !important;
    }
}

/* Authentication Form */


