body {
  margin: 0;
 /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

@font-face {
  font-family: 'comic';
  src: local('comic'), url(./fonts/comic_book/comic.otf) format('truetype');
}

